// variables primary
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

// site
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 62.5%;
	min-height: 100vh;
	min-width: 375px;
}

.overflow {
	overflow-y: hidden;
}

.wrapper {
	max-width: 1160px;
	margin: 0 auto;
}

header {
	height: 655px;
	background: url('../images/mobile/image-hero.jpg') center no-repeat;
	background-size: cover;
	color: $white;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4em 2.5em;

	&__desktop {
		display: none;
	}

	&__mobile {
		.menu {
			&__btn {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 25px;
				height: 25px;
				border: none;
				background-color: transparent;
				cursor: pointer;
				z-index: 2;

				&--line {
					display: block;
					position: absolute;
					width: 25px;
					height: 2px;
					background-color: white;
					transition: opacity 0.5s cubic-bezier(0.9, 0, 0.33, 1), transform 0.5s cubic-bezier(0.9, 0, 0.33, 1);
				}

				&--line:nth-child(1).active {
					opacity: 0;
				}

				&--line:nth-child(2) {
					top: 5px;
				}

				&--line:nth-child(2).active {
					transform: rotate(45deg) translate(4.5px, 5.5px);
				}

				&--line:nth-child(3) {
					bottom: 4px;
				}

				&--line:nth-child(3).active {
					transform: rotate(-45deg) translate(4.5px, -5.5px);
				}
			}

			&__box {
				position: fixed;
				top: 0;
				left: 0;
				height: 100%;
				width: 0;
				background-color: $black;
				z-index: 1;
				transition: width 0.5s;

				&--links {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					margin: 2.5em;

					a {
						display: inline-block;
						position: relative;
						left: -300px;
						text-transform: uppercase;
						font-size: 2rem;
						padding: 1rem 0;
						color: $white;
						transition: left 0.8s;
					}
				}
			}

			&__box.display {
				width: 100%;

				a {
					left: 0px;
				}
			}
		}
	}

	&__hero {
		position: relative;
		transform: translateY(45%);
		max-width: 65em;
		border: 1px solid $white;
		margin: 2.5em;
		padding: 2.75em 3em;

		&--text {
			text-transform: uppercase;
			font-size: 2.5rem;
		}
	}
}

.logo {
	width: 15em;
	height: 2.5em;
	z-index: 2;
}

.link {
	font-family: 'Alata', sans-serif;
	font-size: 1rem;
	color: $white;
}

.link::after {
	content: '';
	display: block;
	padding-bottom: 5px;
	border-bottom: 2px solid $white;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

.link:hover::after {
	transform: scaleX(1);
}

.heading {
	text-transform: uppercase;
	font-size: 2rem;
}

.company {
	&__image {
		min-width: 330px;
		height: 225px;
		margin: 9.5em 2.5em 0;
		background: url('../images/mobile/image-interactive.jpg') center no-repeat;
		background-size: cover;
	}

	&__text {
		padding: 0 4em;
		margin: 5em 0 10em;
		text-align: center;

		&--info {
			font-family: 'Alata', sans-serif;
			font-size: 1rem;
			line-height: 1.5em;
			margin-top: 1rem;
			color: $dark-gray;
		}
	}
}

.creations {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(10, auto);
	grid-row-gap: 25px;
	text-align: center;
	padding: 0 2.5em 8.5em;
	margin-top: 18em;

	&__heading {
		grid-area: 1 / 1 / 2 / 2;
		margin-bottom: 1.5rem;
	}

	&__product {
		position: relative;
		height: 120px;
		width: auto;
		background-position: center;
		background-size: cover;

		&--text {
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			text-transform: uppercase;
			font-size: 1.5rem;
			padding-top: 2em;
			padding-left: 1em;
			color: $white;
			text-align: left;
			z-index: 2;
			cursor: pointer;
			transition: background-color 0.5s, color 0.5s;
		}

		&--text:hover {
			background-color: rgba(255, 255, 255, 0.7);
			color: $black;
		}
	}

	&__product::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.3);
	}

	&__product:nth-of-type(1) {
		grid-area: 2 / 1 / 3 / 2;
		background-image: url('../images/mobile/image-deep-earth.jpg');
	}

	&__product:nth-of-type(2) {
		grid-area: 3 / 1 / 4 / 2;
		background-image: url('../images/mobile/image-night-arcade.jpg');
	}

	&__product:nth-of-type(3) {
		grid-area: 4 / 1 / 5 / 2;
		background-image: url('../images/mobile/image-soccer-team.jpg');
	}

	&__product:nth-of-type(4) {
		grid-area: 5 / 1 / 6 / 2;
		background-image: url('../images/mobile/image-grid.jpg');
	}

	&__product:nth-of-type(5) {
		grid-area: 6 / 1 / 7 / 2;
		background-image: url('../images/mobile/image-from-above.jpg');
	}

	&__product:nth-of-type(6) {
		grid-area: 7 / 1 / 8 / 2;
		background-image: url('../images/mobile/image-pocket-borealis.jpg');
	}

	&__product:nth-of-type(7) {
		grid-area: 8 / 1 / 9 / 2;
		background-image: url('../images/mobile/image-curiosity.jpg');
	}

	&__product:nth-of-type(8) {
		grid-area: 9 / 1 / 10 / 2;
		background-image: url('../images/mobile/image-fisheye.jpg');
	}

	&__button {
		font-family: 'Alata', sans-serif;
		grid-area: 10 / 1 / 11 / 2;
		justify-self: center;
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 3px;
		width: 160px;
		height: 40px;
		border: 1px solid $black;
		margin-top: 1rem;
		background-color: transparent;
		cursor: pointer;
		transition: background-color 0.5s, color 0.5s;
	}

	&__button:hover {
		background-color: $black;
		color: $white;
	}
}

footer {
	background-color: $black;
}

.footer {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(4, auto);
	justify-items: center;
	text-align: center;
	padding: 5.5em 2.5em 1em;

	&__logo {
		grid-area: 1 / 1 / 2 / 2;
		margin-bottom: 4em;
	}

	&__links {
		grid-area: 2 / 1 / 3 / 2;
		margin-bottom: 5em;

		a {
			display: inline-block;
			margin-bottom: 1em;
		}
	}

	&__media {
		grid-area: 3 / 1 / 4 / 2;
		display: flex;

		img {
			height: 24px;
			margin: 0 0.8em;
		}

		a::after {
			content: '';
			display: block;
			padding-bottom: 5px;
			border-bottom: 2px solid $white;
			transform: scaleX(0);
			transition: transform 250ms ease-in-out;
		}

		a:hover::after {
			transform: scaleX(1);
		}
	}

	&__rights {
		grid-area: 4 / 1 / 5 / 2;
		font-family: 'Alata', sans-serif;
		font-size: 1rem;
		margin: 2em 0;
		color: $dark-gray;
	}

	&__author {
		color: $dark-gray;

		a {
			color: $white;
		}
	}
}

@media (min-width: 576px) {
	.navbar {
		&__hero {
			&--text {
				font-size: 3rem;
			}
		}
	}
}

@media (min-width: 768px) {
	header {
		background: url('../images/desktop/image-hero.jpg') center no-repeat;
		background-size: cover;
	}

	.navbar {
		&__desktop {
			display: block;

			ul {
				display: flex;
				gap: 30px;
			}
		}

		&__mobile {
			display: none;
		}

		&__hero {
			transform: translateY(10%);

			&--text {
				font-size: 3.5rem;
			}
		}
	}

	.company {
		&__image {
			background: url('../images/desktop/image-interactive.jpg') center no-repeat;
		}
	}

	.creations {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-column-gap: 30px;
		grid-row-gap: 30px;

		&__heading {
			grid-area: 1 / 1 / 2 / 3;
			text-align: left;
			margin-bottom: 1.5rem;
		}

		&__product {
			height: 350px;
			max-width: 26em;

			&--text {
				padding-top: 14em;
				font-size: 1.3rem;
			}
		}

		&__product:nth-of-type(1) {
			grid-area: 2 / 1 / 3 / 2;
			background-image: url('../images/desktop/image-deep-earth.jpg');
		}

		&__product:nth-of-type(2) {
			grid-area: 2 / 2 / 3 / 3;
			background-image: url('../images/desktop/image-night-arcade.jpg');
		}

		&__product:nth-of-type(3) {
			grid-area: 2 / 3 / 3 / 4;
			background-image: url('../images/desktop/image-soccer-team.jpg');
		}

		&__product:nth-of-type(4) {
			grid-area: 2 / 4 / 3 / 5;
			background-image: url('../images/desktop/image-grid.jpg');
		}

		&__product:nth-of-type(5) {
			grid-area: 3 / 1 / 4 / 2;
			background-image: url('../images/desktop/image-from-above.jpg');
		}

		&__product:nth-of-type(6) {
			grid-area: 3 / 2 / 4 / 3;
			background-image: url('../images/desktop/image-pocket-borealis.jpg');
		}

		&__product:nth-of-type(7) {
			grid-area: 3 / 3 / 4 / 4;
			background-image: url('../images/desktop/image-curiosity.jpg');
		}

		&__product:nth-of-type(8) {
			grid-area: 3 / 4 / 4 / 5;
			background-image: url('../images/desktop/image-fisheye.jpg');
		}

		&__button {
			grid-area: 1 / 3 / 2 / 5;
			justify-self: end;
			margin-top: 0;
		}
	}

	.footer {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);

		&__logo {
			grid-area: 1 / 1 / 2 / 2;
			justify-self: start;
			margin-bottom: 3em;
		}

		&__links {
			grid-area: 2 / 1 / 3 / 2;
			justify-self: start;
			margin-bottom: 1em;

			ul {
				display: flex;
				flex-direction: row;
				gap: 30px;
			}
		}

		&__media {
			grid-area: 1 / 2 / 2 / 3;
			justify-self: end;
		}

		&__rights {
			grid-area: 2 / 2 / 3 / 3;
			justify-self: end;
			margin: 0;
		}

		&__author {
			grid-area: 3 / 1 / 4 / 3;
		}
	}
}

@media (min-width: 900px) {
	.creations {
		&__product {
			&--text {
				font-size: 1.6rem;
				padding-top: 10.5em;
			}
		}
	}
}

@media (min-width: 992px) {
	.navbar {
		&__hero {
			transform: translateY(30%);

			&--text {
				font-size: 4.5rem;
			}
		}
	}

	.logo {
		width: 20em;
		height: 3.5em;
	}

	.link {
		font-size: 1.2rem;
	}

	.heading {
		font-size: 3rem;
	}

	.company {
		position: relative;

		&__image {
			max-width: 730px;
			height: 500px;
			margin: 16em 0 0 2.5em;
			background-size: contain;
		}

		&__text {
			position: absolute;
			top: 13em;
			right: 0;
			height: 32em;
			width: 54em;
			padding: 0 1em 0 4em;
			background-color: $white;
			text-align: left;
			z-index: 2;

			&--heading {
				margin-top: 0.9em;
			}

			&--info {
				font-size: 1rem;
				line-height: 1.5em;
			}
		}
	}

	.creations {
		&__product {
			height: 450px;

			&--text {
				font-size: 1.8rem;
				padding-top: 12.5em;
			}
		}

		&__button {
			font-size: 1.1rem;
		}
	}
}
